@{
	ViewData["Title"] = "Events!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post">
	EventName: <input type="text" name="name" value=""><br>
	EventDescription: <input type="text" name="description" value=""><br>
	<input type="submit" />
</form>
