@{
	ViewData["Title"] = "Events!";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form method="post">
	EventName: <input type="text" name="name" value=""><br>
	EventDescription: <input type="text" name="description" value=""><br>
    Event Start: <input type="text" name="eventStart" value=""><br>
    <br>
    Venue name: <input type="text" name="Vname" value=""><br>
    Address: <input type="text" name="Address" value=""><br>
    City: <input type="text" name="City" value=""><br>
    Country: <input type="text" name="Country" value=""><br>
    <input type="submit" />
</form>
