<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
    background-color: #2cd3c3;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
</style>
</head>
<body>

<div class="header">
  <h1>Welcome to Awesome Tickets admins page!</h1>
</div>

<div class="topnav">
    <a asp-area="" asp-controller="Home" asp-action="Venues" class="navbar-brand">Add Venues</a>
    <a asp-area="" asp-controller="Home" asp-action="Events" class="navbar-brand">Add Event</a>
    <a asp-area="" asp-controller="Home" asp-action="ShowAllEvents" class="navbar-brand">Show and Delete events</a>
</div>

</body>
@RenderBody()
</html>