@{
	ViewData["Title"] = "Home Page";
}

<div class="firstpage" style="max-width:1200px">
	<img class="picture" src="~/images/hej.jpg" style="width:100%">
	<img class="picture" src="~/images/korv.jpg" style="width:100%">


	<center>
		<hr width="100%" />
		<h1 style="color:rosybrown;">
			Upcoming events
		</h1>
	</center>
	<p>
		<font size="1" />
</div>
