@model ClassLibraryTicketShop.Order

@{
	ViewData["Title"] = "Order";
}

<h2>Order</h2>

<table class="table">
	@*<thead>

		<tr>
			<th>
				<h6>Event</h6>
			</th>
			<th>
				<h6>Description</h6>
			</th>
			<th>
				<h6>Date</h6>
			</th>

			<th></th>
		</tr>

	</thead>

		<tbody>
				<tr>
					<td>
						@Html.DisplayFor(modelItem => order)
					</td>*@
					
						@*<input type="submit" value="Delete" />*@
@*@Html.ActionLink("Delete", "Delete", new { @class = "btn btn-success"})*@
@*</td>
						</tr>

				}
			</tbody>*@

	</table>

