@model string;



@{
	ViewBag.Title = "Search for events";
}

<h1>Sök event mellan dessa datum</h1>
<form method="post">
	From datum: <input type="text" id="Date1" value=""><br>
	Tom datum: <input type="text" id="Date2" value=""><br>
	<input type="submit" />
</form>






