@model string;



@{
	ViewBag.Title = "Search for events";
}

<h1>Sök event mellan dessa datum</h1>
<form method="post">
	date1: <input type="text" name="From datum" value=""><br>
	date2: <input type="text" name="T.o.m. datum" value=""><br>
	<input type="submit" />
</form>




