<!DOCTYPE html>
<html lang="en">
<head>
    <link href="~/css/site.css" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    <title>AwesomeTickets Layout</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="header">
        <h1>Welcome to Awesome Tickets!</h1>
    </div>

    <div class="topnav">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Home</a>
        <a asp-area="" asp-controller="Home" asp-action="AllEvents" class="navbar-brand">Book event</a>
        <a asp-area="" asp-controller="Home" asp-action="Cart" class="navbar-brand">Cart</a>
    </div>

</body>
@RenderBody()
</html>